body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: PT Sans, Arial, sans-serif;
	text-transform: uppercase;
}

.main-navigation a {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.highlites-text h2 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
}

.result-item h2 {
	line-height: 26px;
}

/*Стили для создания сетки*/

.main-header {
	min-height: 56px;
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	min-height: 56px;
	width: 1056px;
	margin: 0 auto;

}

.main-intro {
	width: 1200px;
	min-height: 724px;
	margin: 0 auto;
}

.intro-bg {
	min-height: 510px;

}

.intro-text {
    min-height: 218px;
}

.highlites-column {
	width: 1200px;
	min-height: 256px;
	margin: 0 auto;
}

.highlites-text {
	float: left;
	min-height: 256px;
	width: 400px;
}

.highlites-column img {
	float: left;
	min-height: 256px;
	width: 800px;
}

.recommendations {
	min-height: 330px;
	width: 1200px;
	margin: 0 auto;
}

.recommendations .column-left {
	float: left;
	min-height: 330px;
	width: 400px;
}

.recommendations .column-center {
	float: left;
	min-height: 330px;
	width: 400px;

}

.recommendations .column-right {
	float: left;
	min-height: 330px;
	width: 400px;
}

.highlites-text2 {
	float: left;
	min-height: 256px;
	width: 400px;
}

.reasons {
   min-height: 256px;
   width: 1200px;
   margin: 0 auto;
}

.reasons .column-left {
	float: left;
	min-height: 256px;
	width: 400px;
  
}

.reasons .column-center {
	float: left;
	min-height: 256px;
	width: 400px;

}

.reasons .column-right {
	float: left;
	min-height: 256px;
	width: 400px;
}

.search-form {
	min-height: 766px;
	width: 1200px;
	margin: 0 auto;
}

.search-text {
	min-height: 204px;
}

.search-btn {
	background-color: #766357;
	width: 568px;
	min-height: 86px;
	margin: 0 auto;
}

.search-form form {
	width: 568px;
	min-height: 396px;
	margin: 0 auto;
}

.filters {
	width: 1200px;
	min-height: 217px;
	margin: 0 auto;
}

.sorting {
	width: 1200px;
	min-height: 87px;
	margin: 0 auto;
}

.result-list {
	width: 1200px;
	min-height: 453px;
	margin: 0 auto;
}

.result-item {
	min-height: 151px;

}

footer {
	width: 1200px;
	min-height: 120px;
	margin: 0 auto;
}

.footer-hashtag {
	float: left;
	width: 240px;
	min-height: 100px;
	margin-left: 73px;
}

.footer-social {
	float: left;
	width: 400px;
	min-height: 100px;
	margin-left: 88px;
}

.footer-copyright {
	float: left;
	width: 241px;
	min-height: 100px;
	margin-left: 88px;
}