body {
	font-size: 14px;
	line-height: 21px;
	color: 333333;
	font-weight: normal;
	font-family: PT Sans, Arial, sans-serif;
	text-transform: uppercase;
}

.main-navigation a {
	font-size: 14px;
	line-height: 26px;
	color: 000000;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: 000000;
	font-weight: bold;
}

.highlites-text h2 {
	font-size: 21px;
	line-height: 21px;
	color: ffffff;
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 24px;
	color: 000000;
	font-weight: bold;
}

.result-item h2 {
	line-height: 26px;
}